<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AFFIZIA! COMMUNITY</title>

    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/meanmenu.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets-home/css/style.css" rel="stylesheet">
    <link href="assets-home/css/responsive.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet"> -->
    <style type="text/css">
        .btn-primary {
            background: #007bff;
        }

        .single-group ._content_ {
            max-width: 85%;
            flex: 0 0 85%;
        }
    </style>
</head>

<body class="white-tr">



    <!-- Offcanvas section start -->
    <div class="offcanvas-area">
        <div class="offcanvas-wrap">
            <div class="menu-close">
                <i class="far fa-times"></i>
            </div>
            <div class="header-menu">
                <ul>
                    <li>
                        <a href="myfacegle.php">My @Facegle</a>
                        <a href="update.php">UPDATE</a>
                        <a href="discovery.php">Discovery</a>
                        <a href="connect.php">Connect</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay">
    </div>
    <!-- Offcanvas section end -->

    <!-- Header bar section start -->
    <div class="header-bar-section">
        <div class="header-main">
            <div class="header-left">
                <div class="logo-main">
                    <a href="myfacegle.php"><img src="assets-home/img/logo-main.png" alt=""></a>
                </div>
                <div class="dropdown custom_dropdown">
                </div>
            </div>
            <div class="header-menu">
                <ul>
                    <li>
                        <a href="myfacegle.php">My @Facegle</a>
                        <a href="update.php">UPDATE</a>
                        <a href="discovery.php">Discovery</a>
                        <a href="connect.php">Connect</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <div class="head-right-blk">
                    <a href="notification.php"><i class="fas fa-bell"></i></a>
                    <a href="messager.php"><i class="fas fa-comment-dots"></i></a>
                    <div class="user-drop-down">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="myfacegle.php" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fas fa-user"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            </div>
                        </div>
                    </div>
                    <div class="menu-open">
                        <i class="far fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header bar section complete -->

    <!-- Header bar section start -->
    <header class="header-top-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="header-left-site-wrapper">
                        <div class="header-left-site-blk">
                            <div class="header-left-contact">
                                <form method="GET" action="discovery.php">
                                    <input type="text" name="q" placeholder="Discover your interest or ender url">
                                    <a href="/"><img class="left-img-1 left-img-2" src="assets/img/logo-left.png" alt=""
                                            style="width: 100px;"></a>
                                    <i class="fa fa-paper-plane" style="color: #2e60f3;"></i>
                                    <div class="seclect-blk">
                                        <select name="category">
                                            <option value="-1">Interest</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="header-bottom-area tr">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-menu-blk fr">
                            <div class="header-menu-flx">
                                <div class="header-left-menu">
                                    <ul>
                                        <li class="garden-menu-title-text clot-tr active" style="max-width: 350px;">
                                            <a href="discovery.php"><img class="search-img lft" src="assets/img/ss.png"
                                                    alt="">CENTER</a>

                                            <div class="discover-wrapp-blk">
                                                <div class="explore-input">
                                                    <form method="GET" action="discovery.php">
                                                        <input type="text" name="q" placeholder="Explore">
                                                        <i class="fas fa-paper-plane"></i>
                                                    </form>
                                                </div>

                                                <div class="discover-dropdown">
                                                    <ul>
                                                        <li>
                                                            <span><img src="assets-home/img/t-1.png" alt=""></span> <a
                                                                href="discovery.php?q=adventure">ADVENTURE</a>
                                                        </li>
                                                        <li>
                                                            <span><img src="assets-home/img/t-2.png" alt=""></span> <a
                                                                href="discovery.php?q=beauty">BEAUTY</a>
                                                        </li>
                                                        <li>
                                                            <span><img src="assets-home/img/t-3.png" alt=""></span> <a
                                                                href="discovery.php?q=garden">GARDEN</a>
                                                        </li>
                                                        <li>
                                                            <span><img src="assets-home/img/t-4.png" alt=""></span> <a
                                                                href="discovery.php?q=lifestyle">LIFESTYLE</a>
                                                        </li>
                                                        <li>
                                                            <span><img src="assets-home/img/t-5.png" alt=""></span> <a
                                                                href="discovery.php?q=sport">SPORT</a>
                                                        </li>
                                                        <li>
                                                            <span><img src="assets-home/img/t-6.png" alt=""></span> <a
                                                                href="discovery.php?q=tech">TECH</a>
                                                        </li>
                                                        <li>
                                                            <a href="discovery.php?q=fashion"><i
                                                                    class="fas fa-tshirt"></i></a> Men's Fashion
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </li>

                                        <li class="garden-menu-title-text clot-tr active" style="max-width: 350px;">
                                            <a href="discovery.php"><img class="search-img"
                                                    src="assets/img/search-img.png" alt="">DISCOVERY <span></span></a>

                                            <div class="discover-wrapp-blk">
                                                <div class="explore-input">
                                                    <input type="text" placeholder="Explore">
                                                    <i class="fas fa-paper-plane"></i>
                                                </div>

                                                <div class="discover-dropdown">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-tshirt"></i></a>Men's Fashion
                                                        </li>
                                                        <li><a href="#"><i
                                                                    class="far fa-mobile-android-alt"></i></a>Phones &
                                                            Telecommunications</li>
                                                        <li><a href="#"><i class="far fa-laptop"></i></a>Computer,
                                                            Office & Security</li>
                                                        <li><a href="#"><i class="fas fa-camera-retro"></i></a>Consumer
                                                            Electronics</li>
                                                        <li><a href="#"><i
                                                                    class="fas fa-basketball-ball"></i></a>Jewelary &
                                                            Watches</li>
                                                        <li><a href="#"><i class="far fa-shopping-bag"></i></a>Home, pet
                                                            & Appliances</li>


                                                    </ul>
                                                </div>
                                            </div>

                                        </li>
                                        <li><a href="community.php">COMMUNITY</a></li>
                                        <li style="display:none;"><a href="today.php" style="color:red;">Today</a></li>
                                        <li style="display:none;"><a href="following.php"
                                                style="color:red;">Following</a></li>
                                        <li><a href="explore.php">EXPLORE</a></li>
                                        <li><a href="explore.php"><img class="logo-main" src="assets/img/logo-main.png"
                                                    alt=""><strong>For You</strong></a></li>
                                    </ul>
                                </div>


                                <div class="see-more-blk">
                                    <a href="explore.php?browse=explore.more"><i class="fal fa-ellipsis-v"></i>More</a>
                                    <a href="setting.php">Setting</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="header-theard-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="new-community-left">
                            <h4>COMMUNITY <span>Join Current Discussion</span></h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-thead-wrapper">
                            <div class="thead-site-right">
                                <div class="user-social-icon">
                                    <a href="myfacegle.php"><img src="assets/img/icon-1/user-icon.png" alt=""></a>
                                    <a href="update.php"><img src="assets/img/icon-1/user-icon.png" alt=""></a>
                                    <a href="discovery.php"><img src="assets/img/icon-1/user-icon.png" alt=""></a>
                                    <a href="connect.php"><img src="assets/img/icon-1/user-icon-2.png"
                                            alt=""><span>CONNECT</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Header bar section complate -->

    <!-- New Community area Start -->
    <div class="community-2-area min-height d-flex align-items-center"
        style="background-image: url(assets/img/team-1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="community-text-blk">
                        <h2>community</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Community area End -->
    <div class="user_page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="user-top">
                        <img src="assets-community/img/user-pro-img.jpg" alt="">
                        <h3>AFFIZIA <i style="font-size: 13px;color: gray;">(1)</i> <span>@admin</span>
                            <a href="javascript:void(0);" onclick="likePage();" style="font-size: 16px;"><i
                                    class="fa fa-thumbs-up"></i> Follow</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="https://affizia.com/?route=account/register" class="site-btn">Become A Member</a>
                    <a href="javascript:void(0);" onclick="popupLogin();" class="site-btn">Login Community</a>
                </div>
            </div>
            <div class="row" id="post-area">
                <div class="col-md-8">
                    <div class="user-post box-shadow">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-7">
                                    <textarea rows="1" name="content-topic" id="content-topic" class="form-control"
                                        placeholder="What’s going on? |#|Hashtag.. @Mention.. Link"></textarea>
                                </div>
                                <div class="col-lg-3">
                                    <input type="file" name="image-topic" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <input type="submit" name="btn-post" id="btn-post" class="btn btn-primary"
                                        value="Post a Topic" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="list-post">
                        <div class="single-post box-shadow" *ngFor="let post of posts; let index = index">
                            <div id="user-top">
                                <img [src]="post.postFile" alt="">
                                <h3>{{post.user_name}} <span>{{post.time}}</span></h3>
                            </div>
                            <!-- <p> -->
                                <h4>{{post.postText}} </h4>
                            <!-- </p> -->
                            <div class="post-content-bottom">

                            </div>
                            <div class="post-bototm-actions"><a href="javascript:void(0);" onclick="likePost(416);"><i
                                        class="fa fa-thumbs-up"></i> Like 1</a>&nbsp;<a href="javascript:void(0);"
                                    onclick="focusComment(416);"><i class="fa fa-comment"></i> Comment 1</a></div>
                            <hr />
                            <div style="margin-bottom: 5px;"><a href="http://connect.lankung.com/thiepgmail"
                                    target="_blank"><b>thiepgmail</b></a> <span style="color: gray;font-size: 11px;">1
                                    month ago</span>
                                <div style="margin-top: 5px;font-size: 13px;">This is first comment</div><a
                                    href="javascript:void(0);" onclick="likeComment(25);"><i style="color: gray;"
                                        class="fas fa-thumbs-up"></i></a> {{post.totalLike}}&nbsp;&nbsp;&nbsp;<a
                                    href="javascript:void(0);" onclick="showReply(25);" title="Reply to comment"><i
                                        style="color: gray;" class="fas fa-comment"></i></a> 0<div
                                    style="padding-left: 20px;display: none;position: relative;" id="comment-25"><input
                                        id="txt-reply-25" type="text" style="font-size: 20px;"
                                        placeholder="Reply to comment"
                                        onkeypress="return replyComment(event, this.value, 25);" class="form-control" />
                                    <div style="position: absolute;right: 10px; top: 10px;"><a
                                            href="javascript:void(0);" onclick="sendReply(25);" title="Send reply"><i
                                                class="fas fa-comment"></i></a></div>
                                </div>
                            </div>
                            <div style="margin-top: 10px;position: relative;"><input id="txt-comment-416" type="text"
                                    style="font-size: 20px;" placeholder="Write a comment and press enter"
                                    onkeypress="return postComment(event, this.value, 416);" class="form-control" />
                                <div style="position: absolute;right: 10px; top: 10px;"><a href="javascript:void(0);"
                                        onclick="sendComment(416);" title="Send comment"><i
                                            class="fas fa-comment"></i></a></div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-shadow group-list">
                        <h4>Community Members (1)</h4>
                        <div class="single-group">
                            <div class="_img_"><img src="assets-community/img/user-pro-img.jpg" alt=""></div>
                            <div class="_content_"><a href="http://connect.lankung.com/thiepgmail" target="_blank"
                                    style="width: auto; padding: 10px;">thiepgmail</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-shadow group-list">
                        <h4>Popular #hashtag (3)</h4>
                        <div class="single-group">
                            <div class="_img_"><img src="assets-community/img/user-pro-img.jpg" alt=""></div>
                            <div class="_content_">
                                <a href="community.php?hashtag=live" style="width: 100%; padding: 10px;">#live (2)</a>
                            </div>
                        </div>
                        <div class="single-group">
                            <div class="_img_"><img src="assets-community/img/user-pro-img.jpg" alt=""></div>
                            <div class="_content_">
                                <a href="community.php?hashtag=share" style="width: 100%; padding: 10px;">#share (1)</a>
                            </div>
                        </div>
                        <div class="single-group">
                            <div class="_img_"><img src="assets-community/img/user-pro-img.jpg" alt=""></div>
                            <div class="_content_">
                                <a href="community.php?hashtag=affizia" style="width: 100%; padding: 10px;">#affizia
                                    (1)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <!-- Our discover Start -->
    <div class="our-discover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-discover-wrapper">
                        <h2>discovery your interest</h2>
                        <img src="assets/img/3-tara.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our discover End -->






    <!-- Header bar section start -->
    <header class="header-top-area wt">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="header-left-site-wrapper">
                        <div class="header-left-site-blk">
                            <div class="header-left-contact">
                                <input type="text" placeholder="Discover your interest or ender url">
                                <a href="/"><img class="left-img-1 left-img-2 ai-logo" src="assets/img/icon-4/ai-1.png"
                                        alt="" style="width: 100px;"></a>
                                <i class="fa fa-paper-plane" style="color: #2e60f3;"></i>
                                <div class="seclect-blk">
                                    <select name="#" id="">
                                        <option value="#">Interest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- Header bar section complate -->





    <!-- Live area Start -->
    <div class="live-area pb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="live-link-wrapper">
                        <ul>
                            <li><a href="#">MY@AFFIZIA</a></li>
                            <li><a href="#">Interest</a></li>
                            <li><a href="#">Discovery</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Answer</a></li>
                            <li><a href="#">Live</a></li>
                            <li><a href="#">Connect</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Live area End -->



    <!-- Center-link-area Start -->
    <div class="center-link-area pt">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-logo-wrapper">
                        <div class="center-stite-left">
                            <ul>
                                <li><a href="#"><img src="assets/img/icon-4/ss.png" alt=""><span>CENTER</span></a></li>
                                <li><a href="#"><img src="assets/img/icon-4/icon-1.png" alt=""><span
                                            class="cl-1">Adventure</span></a></li>
                                <li><a href="#"><img src="assets/img/icon-4/icon-2.png" alt=""><span
                                            class="cl-2">Beauty</span></a></li>
                                <li><a href="#"><img src="assets/img/icon-4/icon-3.png" alt=""><span
                                            class="cl-3">Beauty</span></a></li>
                            </ul>
                        </div>
                        <div class="center-logo">
                            <a href="index.html"><img src="assets/img/icon-4/icon-4.png" alt=""></a>
                        </div>
                        <div class="center-right-site">
                            <ul>
                                <li><a href="#"><img src="assets/img/icon-4/icon-5.png" alt=""><span
                                            class="cl-3">center</span></a></li>
                                <li><a href="#"><img src="assets/img/icon-4/icon-6.png" alt=""><span
                                            class="cl-2">Adventure</span></a></li>
                                <li><a href="#"><img src="assets/img/icon-4/i-4.png" alt=""><span
                                            class="cl-1">Beauty</span></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Center-link-area End -->






    <!-- Header bar section start -->
    <div class="header-bar-section ">
        <div class="header-main msx">
            <div class="header-left">
                <div class="logo-main">
                    <a href="myfacegle.php"><img src="assets-home/img/logo-main.png" alt=""></a>
                </div>
                <div class="dropdown custom_dropdown">
                </div>
            </div>
            <div class="header-menu">
                <ul>
                    <li>
                        <a href="myfacegle.php">My @Facegle</a>
                        <a href="update.php">UPDATE</a>
                        <a href="discovery.php">Discovery</a>
                        <a href="connect.php">Connect</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <div class="head-right-blk">
                    <a href="notification.php"><i class="fas fa-bell"></i></a>
                    <a href="messager.php"><i class="fas fa-comment-dots"></i></a>
                    <div class="user-drop-down">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="myfacegle.php" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fas fa-user"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            </div>
                        </div>
                    </div>
                    <div class="menu-open">
                        <i class="far fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-login" class="modal fade bd-example-modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="text-align: left;">
                    <h4 class="modal-title">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>MEMBER LOGIN</h5>
                            <div class="form-group">
                                <label>Username or Email</label>
                                <input type="text" name="email-login" id="email-login" class="form-control">
                                <div style="color:red;display: none;" id="error-email">Please enter Username or Email
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password-login" id="password-login" class="form-control">
                                <div style="color:red;display: none;" id="error-password">Please enter Password</div>
                            </div>
                            <div align="center">
                                <button type="button" class="btn btn-primary" onclick="loginMallzia();">Login</button>
                            </div>
                            <!-- <hr />
                        <div class="col-md-6" style="text-align:left;margin-top: 10px;">
                          <a href="social_app/api-fb/fbconfig.php?community=1" class="btn btn-default" style="width:210px;text-align:left;">
                              <img src="application/views/fashion/image/fb.png" height="20">&nbsp;Sign in with Facebook
                          </a>
                          <div style="margin-top:10px;">
                              <a href="social_app/google/signin.php?community=1" class="btn btn-default" style="width:210px;text-align:left;">
                                  <img src="application/views/fashion/image/gplus.png" height="20">&nbsp;Sign in with Google
                              </a>
                          </div>
                          <div style="margin-top:10px;">
                            If you’re not yet a member, signup <a href="https://affizia.com/?route=account/register">here</a>
                          </div>
                        </div> -->
                        </div>
                    </div>

                    <div class="form-group register-open" style="display: none;">
                        <label>Full Name</label>
                        <input type="text" name="fullname-register" id="fullname-register" class="form-control">
                        <div style="color:red;display: none;" id="error-register-fullname">Please enter your Full Name
                        </div>
                    </div>
                    <div class="form-group register-open" style="display: none;">
                        <label>Username</label>
                        <input type="text" name="username-register" id="username-register" class="form-control">
                        <div style="color:red;display: none;" id="error-register-username">Please enter Username</div>
                    </div>
                    <div class="form-group register-open" style="display: none;">
                        <label>Email</label>
                        <input type="text" name="email-register" id="email-register" class="form-control">
                        <div style="color:red;display: none;" id="error-register-email">Please enter Email</div>
                    </div>
                    <div class="form-group register-open" style="display: none;">
                        <label>Password</label>
                        <input type="password" name="password-register" id="password-register" class="form-control">
                        <div style="color:red;display: none;" id="error-register-password">Please enter Password</div>
                    </div>
                    <div class="register-open" style="display: none;text-align: center;">
                        <button type="button" class="btn btn-primary register-open" onclick="subRegister();"
                            style="display: none;">Register</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Header bar section complete -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/jquery.sticky.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        $('select').niceSelect();

        function showReply(comment_id) {
            $('#comment-' + comment_id).toggle();
            $('#txt-reply-' + comment_id).focus();
        }


        function focusComment(post_id) {
            $('#txt-comment-' + post_id).focus();
        }

        function sendComment(post_id) {
            var val = $('#txt-comment-' + post_id).val();
            if (val == '') {
                alert('Comment can not be blank');
                $('#txt-comment-' + post_id).focus();
                return false;
            }

            var login = "1";
            var username = "";
            if (login == 1) {
                $('#modal-login').modal('show');
                return false;
            }
            $.ajax({
                url: 'community_post_comment.php',
                type: 'post',
                data: { 'msg': val, 'post_id': post_id, 'username': username },
                success: function (res) {
                    alert('Your comment was added successfully');
                    window.location.reload();
                }
            });
        }

        function postComment(evt, val, post_id) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 13) {
                if (val == '') {
                    alert('Comment can not be blank');
                    $('#txt-comment-' + post_id).focus();
                    return false;
                }
                var login = "1";
                var username = "";
                if (login == 1) {
                    $('#modal-login').modal('show');
                    return false;
                }
                $.ajax({
                    url: 'community_post_comment.php',
                    type: 'post',
                    data: { 'msg': val, 'post_id': post_id, 'username': username },
                    success: function (res) {
                        alert('Your comment was added successfully');
                        window.location.reload();
                    }
                });
            }
        }

        function sendReply(comment_id) {
            var val = $('#txt-reply-' + comment_id).val();
            if (val == '') {
                alert('Comment can not be blank');
                $('#txt-reply-' + comment_id).focus();
                return false;
            }

            var login = "1";
            var username = "";
            if (login == 1) {
                $('#modal-login').modal('show');
                return false;
            }
            $.ajax({
                url: 'community_reply_comment.php',
                type: 'post',
                data: { 'msg': val, 'comment_id': comment_id, 'username': username },
                success: function (res) {
                    alert('Your reply comment was added successfully');
                    window.location.reload();
                }
            });
        }

        function replyComment(evt, val, comment_id) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 13) {
                if (val == "") {
                    alert('Comment can not be blank');
                    $('#txt-reply-' + comment_id).focus();
                    return false;
                }

                var login = "1";
                var username = "";
                if (login == 1) {
                    $('#modal-login').modal('show');
                    return false;
                }
                $.ajax({
                    url: 'community_reply_comment.php',
                    type: 'post',
                    data: { 'msg': val, 'comment_id': comment_id, 'username': username },
                    success: function (res) {
                        alert('Your reply comment was added successfully');
                        window.location.reload();
                    }
                });
            }
        }

        function likePost(post_id) {
            var login = "1";
            var username = "";
            if (login == 1) {
                $('#modal-login').modal('show');
                return false;
            }
            $.ajax({
                url: 'community_like_post.php',
                type: 'post',
                data: { 'post_id': post_id, 'username': username },
                success: function (res) {
                    alert('You liked this topic');
                    window.location.reload();
                }
            });
        }

        function likeComment(comment_id) {
            var login = "1";
            var username = "";
            if (login == 1) {
                $('#modal-login').modal('show');
                return false;
            }
            $.ajax({
                url: 'community_like_comment.php',
                type: 'post',
                data: { 'comment_id': comment_id, 'username': username },
                success: function (res) {
                    alert('You liked this comment');
                    window.location.reload();
                }
            });
        }

        function likePage() {
            var login = "1";
            var username = "";
            if (login == 1) {
                $('#modal-login').modal('show');
                return false;
            }
            $.ajax({
                url: 'like_page.php',
                type: 'post',
                data: { 'username': username, 'community': 'affizia' },
                success: function (res) {
                    window.location.reload();
                }
            });
        }

        var hasLogin = 0;
        $(function () {
            $('#btn-post').click(function () {
                var login = "1";
                if (hasLogin == 0 && login == 1) {
                    $('#modal-login').modal('show');
                    return false;
                }
            });

            $('#content-topic').click(function () {
                var login = "1";
                if (hasLogin == 0 && login == 1) {
                    $('#modal-login').modal('show');
                    return false;
                }
            });
        });

        function loginMallzia() {
            $('#error-email').hide();
            $('#error-password').hide();

            var email = $('#email-login').val();
            if (!email) {
                $('#error-email').show();
                return;
            }

            var pass = $('#password-login').val();
            if (!pass) {
                $('#error-password').show();
                return;
            }

            $.ajax({
                url: 'mallzia_login.php',
                type: 'post',
                data: { 'email': email, 'pass': pass },
                success: function (res) {
                    if (res == 1) {
                        /*alert('Login successfully, you can start now');
                        window.location.reload();*/
                        hasLogin = 1;
                        $('#modal-login').modal('hide');
                        $('#content-topic').focus();
                        window.location.reload();
                    } else {
                        alert('Wrong username/email or password');
                    }
                }
            });
        }

        function popupLogin() {
            $('#modal-login').modal('show');
        }

        var page = 1;
        function showMore() {
            $.ajax({
                url: 'more_post.php',
                type: 'get',
                data: { 'page': page, 'hashtag': '', 'community': 'affizia' },
                success: function (res) {
                    var expl = res.split('|++|');
                    if (expl[1] < 15) {
                        $('.paginations-blk').hide();
                    }

                    if (expl[0]) {
                        $('.list-post').append(expl[0]);
                    }
                }
            });
            page++;
        }

        var page_member = 1;
        function showMoreMember() {
            $.ajax({
                url: 'more_member.php',
                type: 'get',
                data: { 'page': page_member },
                success: function (res) {
                    var expl = res.split('|++|');
                    if (expl[1] < 10) {
                        $('.more-member').hide();
                    }

                    if (expl[0]) {
                        $('#list-members').append(expl[0]);
                    }
                }
            });
            page_member++;
        }

        var page_hashtag = 1;
        function showMoreHashTag() {
            $.ajax({
                url: 'more_hashtag.php',
                type: 'get',
                data: { 'page': page_hashtag },
                success: function (res) {
                    var expl = res.split('|++|');
                    if (expl[1] < 10) {
                        $('.more-hashtag').hide();
                    }

                    if (expl[0]) {
                        $('#list-hashtags').append(expl[0]);
                    }
                }
            });
            page_hashtag++;
        }

        function modalSubscribe(channel) {
            $('#channel-name').val(channel);
            $('#aria-subscribe').html('Subscribe channel: ' + channel);
            $('#modal-subscribe').modal('show');
        }

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
            return pattern.test(emailAddress);
        }

        function subscribeChannel() {
            var firstname = $('#subscribe-firstname').val();
            if (firstname == "") {
                $(".error-subscribe-firstname").html('<div style="color:red;">Please enter first name</div>');
                return;
            }
            $(".error-subscribe-firstname").html('');

            var lastname = $('#subscribe-lastname').val();
            if (lastname == "") {
                $(".error-subscribe-lastname").html('<div style="color:red;">Please enter last name</div>');
                return;
            }
            $(".error-subscribe-lastname").html('');

            var email = $('#subscribe-email').val();
            if (email == "" || !isValidEmailAddress(email)) {
                $(".error-subscribe-email").html('<div style="color:red;">Please enter valid email</div>');
                return;
            }
            $(".error-subscribe-email").html('');

            var channel_name = $('#channel-name').val();

            $.ajax({
                url: 'https://affizia.com/index.php?route=account/subscribe',
                type: 'post',
                data: { "email": email, "firstname": firstname, "lastname": lastname, "channel_name": channel_name },
                success: function (result) {
                    alert("You have successfully subscribe to our Channels");

                    window.location.reload();
                }
            });
        }

        function enterMsg(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 13) {
                sendMsg();
                return false;
            }
        }

        function sendMsg() {
            var login = "1";
            var username = "";
            if (login == 1) {
                $('#modal-login').modal('show');
                return false;
            }

            var msg = $('#inputMsg').val();
            if (msg == "") {
                alert('Please enter your message');
                $('#inputMsg').focus();
                return false;
            }

            var group_id = $('#inputChannel').val();
            if (group_id == "") {
                alert('Please select a channel');
                $('#inputChannel').focus();
                return false;
            }

            $.ajax({
                url: 'live_post_message.php',
                type: 'post',
                data: { 'msg': msg, 'group_id': group_id, 'username': username },
                success: function (res) {
                    window.location.reload();
                }
            });
        }
    </script>
</body>

</html>